@model IEnumerable<_4Ballers.Models.Product>
@inject UserManager<IdentityUser> UserManager

@{
    var isAdmin = User.Identity.IsAuthenticated && (UserManager.GetUserAsync(User).Result?.Email == "piotrkubis1989@gmail.com");
}

<h2>Do <span style="color:orange">Kosza</span> te buty!</h2>

@if (isAdmin)
{
    <a href="@Url.Action("Create", "Products")" class="btn btn-primary">Dodaj nowy produkt</a>
}

@if (Model != null && Model.Any())
{
    <div class="row mt-3">
        @foreach (var shoe in Model)
        {
            <div class="col-md-2-4 shoe-item">
                <!-- Link do szczegółów produktu za pomocą obrazu -->
                <a href="@Url.Action("Details", "Products", new { id = shoe.Id })">
                    <img src="@Url.Content("~/images/" + shoe.ImageUrl)" alt="@shoe.Name" style="width:100%;" />
                </a>
                <h4>@shoe.Name</h4>
                <p style="color:orange">Cena: @shoe.Price zł</p>
                @if (isAdmin)
                {
                    <a href="@Url.Action("Edit", "Products", new { id = shoe.Id })" class="btn btn-warning">Edytuj</a>
                    <a href="@Url.Action("Delete", "Products", new { id = shoe.Id })" class="btn btn-danger">Usuń</a>
                }
            </div>
        }
    </div>
}
else
{
    <p>Brak produktów do wyświetlenia.</p>
}