@model IEnumerable<_4Ballers.Models.OrderItem>

<h2>Koszyk</h2>

@if (Model.Any())
{
    <table class="table">
        <tr>
            <th style="color:white">Logo</th>
            <th style="color:orange">Produkt</th>
            <th style="color:white">Rozmiar</th>
            <th style="color:orange">Ilość</th>
            <th style="color:white">Cena</th>
            <th style="color:orange">Akcje</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <!-- Tutaj wyświetlamy logo produktu -->
                    <img src="@Url.Content($"~/images/{item.Product.ImageUrl}")" alt="@item.Product.Name" style="width:50px; height:auto;" />
                </td>
                <td style="color:white">@item.Product.Name</td>
                <td style="color:white">@item.Size </td>
                <td style="color:white">@item.Quantity</td>
                <td style="color:white">@item.TotalPrice zł</td>
                <td>
                    <form asp-controller="Orders" asp-action="RemoveFromBasket" method="post">
                        <input type="hidden" name="OrderItemId" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <p style="color:orange">Razem: @Model.Sum(item => item.TotalPrice) zł</p>
}
else
{
    <p>Twój koszyk jest pusty.</p>
}
<a href="@Url.Action("Index", "Products")" class="btn btn-secondary">Powrót do zakupów</a>
